@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Play', sans-serif;
}

.find {
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 20px;
    box-shadow: 0 0 2px 1px orange;
    color: aliceblue;
}

.w-85 {
    width: 85%;
}

.logo  {
    width: 4vw;
    height: 4vw;
}

nav {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    border: 2px black solid;
    border-top: none;
}

a:hover {
  filter: drop-shadow(0 0 3px aliceblue);
}

.ico {
  width: 3vw;
  height: 3vw;
}

.little-ico {
  height: 2vw;
}

.poster {
  height: 11vw;
  border-radius: 20px;
}

.mobile-font {
  font-size: 1.7vw;
}

.mobile-font-nav {
  font-size: 1.5vw;
}

.like {
  position: absolute;
  top: 1.5vw;
  right: 1.5vw;
  height: 2vw;
}

.delete {
  position: absolute;
  top: 0.7vw;
  right: 1.3vw;
  height: 2vw;
}

.like:hover, .delete:hover {
  filter: drop-shadow(0 1px 1px red) drop-shadow(0 -1px 1px red) drop-shadow(1px 0 1px red) drop-shadow(-1px 0 1px red);
}

.like:active, .delete:active {
  transform: scale(0.9);
}

#alradyLikeMessage {
  font-size: 1.2vw;
  position: absolute;
  top: 1.4vw;
  right: 4vw;
  padding: 0.3vw;
  border-radius: 20px;
  border: 1px white solid;
  color: gold;
}

.max-scroll {
  max-height: 80vh;
}

.middle-scroll {
  max-height: 60vh;
}

.marker {
  width: 80%;
}

.marker:not(:last-child) {
  margin-bottom: 2vh;
}

#markersWindow {
  width: 120%;
}

.custom-link {
  cursor: pointer;
}

#diapazon {
  position: relative;
}

.diapazon-hidden::before {
  content: "недопустимое значение";
  color: red;
  font-size: 1.1vw;
  position: absolute;
  white-space: nowrap;
  top:75%;
  left:23%;
  visibility: hidden;
}

.diapazon-visible::before {
  content: "недопустимое значение";
  color: red;
  font-size: 1.1vw;
  position: absolute;
  white-space: nowrap;
  top:75%;
  left:23%;
}

.spinner {
  position: absolute;
  z-index: 2;
  top: 35vh;
  left: 50vw;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (hover: none) and (pointer: coarse) {
  .like:hover, .delete:hover {
    filter: drop-shadow(0 0px 0px red) drop-shadow(0 0px 0px red) drop-shadow(0px 0 0px red) drop-shadow(0px 0 0px red);
  }
  a:hover {
    filter: drop-shadow(0 0 0 aliceblue);
  }
}

  @media (min-height: 768px) {
    .container {
      width: 750px;
    }

    #change-button {
      margin-right: 0 !important;
      margin-bottom: 1vh;
    }

    .like {
      top: 3vw;
      right: 3vw;
      height: 4vw;
    }

    .mobile-font {
      font-size: 4vw;
    }

    .mobile-font-nav {
      font-size: 3.8vw;
    }

    #alradyLikeMessage {
      font-size: 1.2vh;
      top: 7.5vh;
      right: -5.5vw;
      transform: rotate(90deg)
    }

    .little-ico {
      height: 1.5vh;
    }

    .delete {
      top: 2vw;
      right: 4vw;
      height: 5vw;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
